/* navigation_side */
.sidebar-wrap {
  width: 246px;
  height: auto;
  padding: 20px;
  background: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 99;
  ul {
    width: 100%;
    li {
      width: 100%;
      height: 48px;
      overflow: hidden;
      cursor: pointer;
      transition: all 1s;
      > div {
        height: 48px;
      }
      > .flex_ {
        width: 100%;
        justify-content: space-between;
        padding: 11px 16px;
        align-items: center;
        .flex_ {
          gap: 12px;
          align-items: center;
        }
      }
      .sub-nav-box {
        height: auto;
        p {
          height: 48px;
          color: #757779;
          background: none;
          &:hover {
            color: #574aff;
            background: #f6f6ff;
          }
          &.true {
            color: #574aff;
            background: #f6f6ff;
          }
          a {
            padding: 11px 20px;
          }
        }
      }
      .icon-arrow {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    > .list-wrap {
      .icon-arrow {
        transition: all 0.5s;
      }
    }
    > .list-wrap.show {
      height: auto;
      .icon-arrow {
        transform: rotate(90deg);
      }
    }
  }
  .m-sidebar-wrap {
    margin-bottom: 32px;
    display: none;
    > h6 {
      margin-bottom: 24px;
    }
    .plan-wrap {
      width: 100%;
      padding: 12px 16px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      height: 46px;
      .flex_ {
        align-items: center;
        height: 100%;
        gap: 8px;
      }
      .btn_ {
        svg:first-child {
          display: none;
        }
      }
    }
    > .btn_ {
      width: 100%;
      svg {
        display: none;
      }
    }
  }
  .m-logout-btn {
    margin-top: 45px;
    text-align: center;
    display: none;
    a {
      text-decoration: underline;
    }
  }
}

/* //navigation_side */

/* navigation_top */
.header- {
  .pc-header {
    display: flex;
  }
  .m-header {
    display: none;
  }
}
.header-container {
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #eaedf0;
  padding: 12px 40px;
  justify-content: space-between;
  align-items: center;
  .header-content {
    align-items: center;
    gap: 12px;
    .icon-wrap {
      border-radius: 100%;
      width: 36px;
      height: 36px;
      justify-content: center;
      align-items: center;
      background: #f5f6f7;
      border: 1px solid #eaedf0;
    }
    .user-wrap {
      padding: 4px 12px 4px 6px;
      border-radius: 20px;
      border: 1px solid #eaedf0;
      background: #fff;
      align-items: center;
      gap: 8px;
    }
    .logout-btn {
      border: 1px solid #d1d4d6;
      cursor: pointer;
      text-align: center;
      width: 97px;
      height: 36px;
      line-height: 36px;
    }
    .link-btn {
      svg {
        display: none;
      }
      .btn_ {
        width: 120px;
      }
    }
  }
  &.login_ {
    .list-wrap {
      gap: 90px;
      align-items: center;
      ul {
        align-items: center;
        gap: 24px;
        color: #757779;
        li {
          cursor: pointer;
          width: max-content;
        }
      }
    }
  }
  &.m-header {
    justify-content: space-between;
    a {
      width: auto;
      height: auto;
    }
    align-items: center;
    position: relative;
    z-index: 98;
    .logo-box {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    > .menu-box {
      cursor: pointer;
    }
    .icon-wrap {
      border-radius: 100%;
      width: 36px;
      height: 36px;
      justify-content: center;
      align-items: center;
      background: #f5f6f7;
      border: 1px solid #eaedf0;
    }
  }
}

/* //navigation_top */

/* button style */
.btn_ {
  line-height: 100%;
  cursor: pointer;
  .flex_ {
    justify-content: center;
    align-items: center;
    gap: 0 4px;
  }
}
.btn_text {
  text-decoration: underline;
}
.btn-s {
  width: 100px;
  height: 36px;
  .flex_ {
    gap: 0 3px;
  }
}
.btn-m {
  width: 102px;
  height: 46px;
  .flex_ {
    gap: 0 4px;
  }
}
.btn-l {
  width: 123px;
  height: 48px;
  .flex_ {
    gap: 0 4px;
  }
}
.btn-xl {
  width: 127px;
  height: 52px;
  .flex_ {
    gap: 0 4px;
  }
}
/* // button style */

/* label */
.label-wrap {
  gap: 4px;
  padding: 2px 8px;
  width: fit-content;
  align-items: center;
  &.false {
    svg {
      display: none;
    }
  }
  &.true {
    padding: 2px 8px 2px 4px;
    svg {
      display: block;
    }
  }
  &.select_label {
    padding: 2px 8px;
    > svg {
      cursor: pointer;
    }
  }
}
/* //label */

/* badge */
.badge-wrap {
  width: fit-content;
  padding: 2px 3px;
  font-size: 8px;
  font-weight: 500;
  line-height: 8px;
  text-align: center;
}
/* //badge */

/* pagnation */
.pagnation-container {
  width: max-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
  }
  &.regular {
    span {
      width: 38px;
      height: 38px;
      background: #fff;
      &:hover {
        background-color: #f5f6f7;
        color: #464749;
      }
    }
    .active {
      color: #fff;
      background-color: #574aff;
    }
    .disabled {
      color: #b3b6b8;
      cursor: default;
      fill: #eaedf0 !important;
      &:hover {
        background-color: #fff;
        color: #b3b6b8;
      }
    }
    .arrow {
      background-color: #fff;
      fill: #757779;
      &:hover {
        background-color: #f5f6f7;
      }
      &.disabled {
        background-color: #ffffff;
        &:hover {
          background-color: #fff !important;
        }
      }
    }
  }
  &.small {
    span {
      width: 24px;
      height: 24px;
      background: #f5f6f7;
      color: #464749;
    }
    .active {
      color: #fff;
      background-color: #574aff;
    }
    .arrow {
      background-color: #fff;
      fill: #757779;
      &:hover {
        background-color: #fff;
        color: #b3b6b8;
      }
      .disabled {
        background-color: #ffffff;
        &:hover {
          background-color: #fff !important;
        }
      }
    }
  }
  .pagnation-wrap {
    gap: 8px;
  }
}

/* //pagnation */

/* tab */
.tab-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 62px;
  position: relative;
  color: #464749;
  > .flex_ {
    width: 100%;
    align-items: start;

    > li {
      flex: 1;
      > span {
        cursor: pointer;
        display: block;
        text-align: center;

        border-bottom: 2px solid #eaedf0;
        &:hover {
          border-bottom: 2px solid #d1d4d6;
        }
        a {
          padding-bottom: 12px;
        }
      }

      &.active {
        > span {
          color: #574aff;
          border-bottom: 2px solid #574aff;
        }
        .sub-tab-list {
          display: flex;
        }
      }

      .sub-tab-list {
        display: none;
        gap: 12px;
        position: absolute;
        left: 0;
        bottom: -0px;
        width: max-content;
        > li {
          cursor: pointer;
          height: 38px;
          width: auto;
          padding: 8px 12px;
          text-align: center;
          background-color: #f5f6f7;
          color: #464749;
          &:hover {
            background-color: #f6f6ff;
          }
          &.active {
            background-color: #eceaff;
            color: #574aff;
          }
          &.disabled {
            background-color: #eaedf0;
            color: #b3b6b8;
          }
        }
      }
    }
  }

  &.tab-scrollable {
    overflow-x: auto;
    overflow-y: initial;

    .tab-item {
      min-width: 80px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.tab-scrollable-bg {
  position: relative;
  width: 100%;
  margin: auto;
  &::before {
    content: "";
    position: absolute;
    right: 0%;
    top: 0;
    width: 50px;
    height: 100%;
    background: linear-gradient(
      269.76deg,
      #ffffff 0.17%,
      rgba(255, 255, 255, 0) 99.76%
    );
    z-index: 2;
  }
}

/* //tab */

/* text fields */
.text-fields-wrap {
  > p {
    margin-bottom: 8px;
    color: #464749;
    display: inline-block;
    span {
      color: #574aff;
      &.none {
        display: none;
      }
    }
  }
}
.input-container {
  &.error {
    .helper-txt {
      color: #f04438;
    }
    .wrap input {
      border: 1px solid #f04438;
      &:focus {
        border: 1px solid #f04438;
      }
    }
  }
  &.success {
    .helper-txt {
      color: #574aff;
    }
    .wrap input {
      border: 1px solid #574aff;
      &:focus {
        border: 1px solid #574aff;
      }
    }
  }
  &.false {
    .wrap {
      input {
        padding: 13px 16px;
      }
      svg {
        display: none;
      }
    }
  }
  .wrap {
    width: 360px;
    height: 48px;

    gap: 8px;
    position: relative;
    input {
      width: 100%;
      padding: 13px 40px;
      height: 100%;
      color: #1b1c1f;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #eaedf0;
      &:focus {
        border: 1px solid #d1d4d6;
        border-radius: 8px;
      }
    }
    ::placeholder {
      color: #b3b6b8;
    }
    .input-count {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      color: #b3b6b8;
      display: none;
    }
    .countShow {
      display: block;
    }
    svg {
      position: absolute;
      &.icon-email {
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
      }
      &.icon-delete {
        top: 50%;
        right: 13px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
}
.textarea-container {
  &.error {
    .helper-txt {
      color: #f04438;
    }
    .wrap textarea {
      border: 1px solid #f04438;
      &:focus {
        border: 1px solid #f04438;
      }
    }
  }
  &.success {
    .helper-txt {
      color: #574aff;
    }
    .wrap textarea {
      border: 1px solid #574aff;
      &:focus {
        border: 1px solid #574aff;
      }
    }
  }
  .wrap {
    width: 360px;
    height: 240px;

    gap: 8px;
    position: relative;

    ::placeholder {
      color: #b3b6b8;
    }

    textarea {
      width: 100%;
      height: 100%;
      padding: 12px 8px 39px 16px;
      color: #1b1c1f;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #eaedf0;
      &:focus {
        border: 1px solid #d1d4d6;
        border-radius: 8px;
      }
      resize: none;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background: #b3b6b8;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-track {
        background: #eaedf0;
        border-radius: 8px;
      }
    }
    .input-count {
      position: absolute;
      bottom: 12px;
      right: 16px;
      color: #b3b6b8;
    }
  }
}
.helper-txt-wrap {
  margin-top: 8px;
  .helper-txt {
    color: #b3b6b8;
  }
}
/* //text fields */

/* drops menu style */
.drops-menu-container {
  position: relative;
  width: 360px;
  .input-wrap {
    width: 100%;
    height: 48px;
    position: relative;
    padding: 12px 16px;
    &:hover {
      border: 1px solid #d1d4d6;
    }
    input {
      width: 296px;
      ::placeholder {
        color: #b3b6b8;
      }
    }
    .icon_serach {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      fill: #574aff;
    }
  }
  .wrap {
    position: absolute;
    margin-top: 8px;
    width: 100%;
    height: auto;
    padding: 12px 8px 12px 16px;
    background: #fff;
    z-index: 50;
    .result-search-box {
      height: 100%;
      width: 100%;
      flex-direction: column;
      gap: 4px;
      max-height: 228px;
      color: #464749;
      overflow-x: hidden;
      overflow-y: auto;
      span {
        display: inline-block;
        width: fit-content;
        cursor: pointer;
      }
      &::-webkit-scrollbar {
        width: 4px;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 8px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #b3b6b8;
      }
      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background: #eaedf0;
      }
    }
  }
}

/* // drops menu style */

/* search bar style */
.search-container {
  position: relative;
  width: 360px;
  .input-wrap {
    width: 100%;
    height: 48px;
    position: relative;
    padding: 12px 16px;
    // &:hover {
    //   border: 1px solid #d1d4d6;
    // }
    input {
      width: 296px;
      ::placeholder {
        color: #b3b6b8;
      }
    }
    .icon_serach {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      fill: #574aff;
    }
  }
  .wrap {
    position: absolute;
    z-index: 3;
    margin-top: 8px;
    width: 100%;
    height: auto;
    padding: 12px 8px 12px 16px;
    background: #fff;
    .result-search-box {
      height: 100%;
      width: 100%;
      flex-direction: column;
      gap: 4px;
      max-height: 228px;
      color: #464749;
      overflow-x: hidden;
      overflow-y: auto;
      span {
        display: inline-block;
        width: fit-content;
        cursor: pointer;
      }
      &::-webkit-scrollbar {
        width: 4px;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 8px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #b3b6b8;
      }
      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background: #eaedf0;
      }
    }
    display: none;
  }
}

.search-container-large {
  position: relative;
  width: 100%;
  .input-wrap {
    width: 100%;
    height: 48px;
    position: relative;
    padding: 12px 16px;
    &:hover {
      border: 1px solid #d1d4d6;
    }
    input {
      width: 296px;
      ::placeholder {
        color: #b3b6b8;
      }
    }
    .icon_serach {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      fill: #574aff;
    }
  }
  & > .wrap {
    position: absolute;
    z-index: 3;
    margin-top: 8px;
    width: 100%;
    max-width: 360px;
    height: auto;
    padding: 12px 8px 12px 16px;
    background: #fff;
    .result-search-box {
      height: 100%;
      width: 100%;
      flex-direction: column;
      gap: 4px;
      max-height: 228px;
      color: #464749;
      overflow-x: hidden;
      overflow-y: auto;
      span {
        display: inline-block;
        width: fit-content;
        cursor: pointer;
      }
      &::-webkit-scrollbar {
        width: 4px;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 8px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #b3b6b8;
      }
      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background: #eaedf0;
      }
    }
    display: none;
  }
}

/* // search bar style */

/* snackbar style*/
.snackBar-container {
  box-shadow: 0px 0px 10px rgba(87, 74, 255, 0.07),
    0px 0px 4px rgba(87, 74, 255, 0.05);
  background: #fff;
  width: 720px;
  height: 52px;
  align-items: center;
  gap: 8px;
  padding: 14px 16px;
  > p {
    width: 624px;
  }
  .cancel {
    cursor: pointer;
  }
}

/* snackbar style*/

/* footer */
footer {
  width: 100%;
  height: auto;
  padding: 100px 336px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  .bar {
    color: #464749;
  }
}
/* //footer */

/* modal */
.modal-container {
  width: 360px;
  height: auto;
  padding: 24px 16px 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: #fff;

  .text-wrap {
    text-align: center;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  button {
    display: none;
  }
  .btn-box {
    display: none;
    width: 100%;
  }
  .full-button {
    width: 100%;
    flex-direction: column;
    gap: 12px;
    .btn-box {
      width: 100%;
      button {
        width: 100%;
      }
    }
    &.two {
      .btn-box {
        width: 100%;
      }
    }
  }
  .default {
    .primary-btn {
      display: block;
      button {
        display: block;
      }
    }
  }
  .error {
    .error-btn {
      display: block;
      button {
        display: block;
      }
    }
  }
  .two {
    width: 100%;
    gap: 8px;
    .btn-box {
      width: calc(50% - 4px);
      button {
        width: 100%;
      }
    }
    .outline-btn {
      display: block;
      button {
        display: block;
      }
    }
  }
  &.modal- {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    .modal-wrap {
      padding: 16px;
      background: #fff;
      width: 480px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      > h6 {
        text-align: center;
        margin-bottom: 24px;
      }
      .text-box {
        height: 550px;
        overflow-y: auto;
      }
      .btn_ {
        margin-top: 24px;
        display: block;
        width: 100%;
      }
    }
  }
}
/* //modal */

/* radio */
.radio-container {
  align-items: center;
  gap: 4px;
  input {
    cursor: pointer;
    position: relative;
    appearance: none;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    border: 1px solid #d1d4d6;
  }
  input:checked::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #574aff;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input:checked::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #574aff;
    background: none;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  label {
    cursor: pointer;
    color: #464749;
  }
  &.active {
    input:checked::before {
      background: #aba5ff;
    }
    input:checked::after {
      border: 1px solid #aba5ff;
    }
  }
  &.disabled {
    label {
      color: #b3b6b8;
    }
    input:checked::before {
      background: #eaedf0;
    }
    input:checked::after {
      border: 1px solid #eaedf0;
    }
  }
}

.check-container {
  align-items: center;
  gap: 8px;
  &.small {
    input {
      width: 13px;
      height: 13px;
    }
  }
  &.large {
    height: 36px;
    input {
      width: 18px;
      height: 18px;
    }
    label {
      font-size: 16px;
    }
  }
  input {
    border: 1px solid #d1d4d6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    &[type="checkbox"]:checked {
      background: #574aff;
      border: 1px solid #574aff;
    }
    &[type="checkbox"]::after {
      border: solid #fff;
      border-width: 0 2px 2px 0;
      content: "";
      display: none;
      height: 55%;
      left: 31%;
      position: relative;
      top: 4%;
      transform: rotate(45deg);
      width: 28%;
    }
    &[type="checkbox"]:checked::after {
      display: block;
    }
  }
  label {
    cursor: pointer;
    color: #464749;
  }
  &.active {
    input[type="checkbox"]:checked {
      background: #8177ff;
      border: 1px solid #8177ff;
    }
  }
  &.disabled {
    label {
      color: #b3b6b8;
    }
    input[type="checkbox"]:checked {
      background: #eaedf0;
      border: 1px solid #eaedf0;
    }
  }
}
.toggle-container {
  input {
    display: none;
    &:checked + label {
      background: #574aff;
      &::after {
        left: 26px;
      }
    }
  }
  label {
    width: 48px;
    height: 24px;
    border-radius: 80px;
    position: relative;
    background: #eaedf0;
    cursor: pointer;
    transition: all 1s;
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 100%;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      transition: all 0.5s;
    }
  }
  &.active {
    input {
      &:checked + label {
        background: #8177ff;
      }
    }
    label {
      &::after {
        background: #fbfbfb;
      }
    }
  }
  &.disabled {
    input {
      &:checked + label {
        background: #eaedf0;
        &::after {
          background: #fff;
        }
      }
    }
    label {
      &::after {
        background: #f5f6f7;
      }
    }
  }
}

/* //radio */

/* date picker */
.date-picker-container {
  align-items: center;
  border: 1px solid #eaedf0;
  background: #f5f6f7;
  width: max-content;
  position: relative;
  &.true {
    input {
      color: #1b1c1f;
    }
    > .calender-wrap {
      .time-container {
        .time-wrap {
          .time-box {
            input {
              color: #1b1c1f;
            }
          }
        }
      }
    }
  }
  &.error {
    border: 1px solid #f04438;
  }
  .icon-box {
    width: 48px;
    height: 48px;
    background: #eceaff;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 136px;
    height: 48px;
    padding: 12px 16px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #b3b6b8;
  }
  .calender-wrap {
    width: 609px;
    position: absolute;
    z-index: 10;
    bottom: -12px;
    left: 0;
    transform: translateY(100%);
    background: #fff;
    padding: 16px;
    flex-wrap: wrap;
    gap: 16px;
    &.show {
      display: flex;
    }
    &.hide {
      display: none;
    }
    .react-datepicker {
      border: none;
      display: flex;
      gap: 16px;
      .react-datepicker__month-container {
        width: 224px;
        .react-datepicker__header {
          position: relative;
          background: none;
          border-bottom: none;
          padding: 0;
          margin-bottom: 16px;
          .header-wrap {
            width: max-content;
            gap: 4px;
            align-items: center;
            justify-content: start;
            select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border: none;
              cursor: pointer;
              &.months-wrap {
                color: #574aff;
              }
              &:focus {
                border: none;
                outline: none;
              }
              option {
                color: #1b1c1f;
              }
            }
          }

          .react-datepicker__current-month {
            text-align: left;
            margin-bottom: 16px;
          }
          .react-datepicker__day-names {
            border-radius: 8px 8px 0px 0px;
            background: #f5f6f7;
            .react-datepicker__day-name {
              margin: 0;
              width: 32px;
              height: 32px;
              line-height: 32px;
              font-size: 12px;
              font-weight: 400;
              color: #464749;
            }
          }
          .header-btn-wrap {
            position: absolute;
            right: 0;
            top: 0;
            gap: 8px;
          }
        }
        .react-datepicker__month {
          margin: 0;

          .react-datepicker__day {
            width: 32px;
            line-height: 32px;
            background: #fff;
            font-size: 12px;
            font-weight: 400;
            color: #464749;
            margin: 0;
          }
          .react-datepicker__day--weekend {
            color: #eaedf0;
          }
          .react-datepicker__day--selected {
            border-radius: 8px;
            background: #574aff;
            color: #fff;
            &.react-datepicker__day--today {
              border-radius: 8px;
              background: #574aff;
              color: #fff;
            }
          }
          .react-datepicker__day--in-range {
            background: #eceaff;
            border-radius: 0;
          }
          .react-datepicker__day--range-start {
            border-radius: 8px 0px 0px 8px;
            background: #574aff;
            color: #fff;
          }
          .react-datepicker__day--range-end {
            border-radius: 0px 8px 8px 0px;
            background: #574aff;
            color: #fff;
          }
        }
      }
    }
    .pick-date-wrap {
      color: #757779;
      gap: 12px;
      flex-direction: column;
      width: 80px;
      h6 {
        color: #464749;
      }
    }
    .calender-btn-wrap {
      width: 100%;
      height: 36px;
      justify-content: end;
      align-items: center;
      gap: 4px;
      > div {
        width: 80px;
        height: 36px;
        line-height: 34px;
        text-align: center;
        cursor: pointer;
        &.close-btn {
          background: #ffffff;
          border: 1px solid #d1d4d6;
        }
        &.submit-btn {
          background: #eaedf0;
          color: #b3b6b8;
          &.active {
            background: #574aff;
            color: #fff;
            &:hover {
              background: #aba5ff;
            }
          }
        }
      }
    }
    .bar {
      width: 1px;
      background: #d1d4d6;
    }
  }
  &.date-picker-container-single {
    > input {
      width: 320px;
    }
    > .calender-wrap {
      width: 256px;
    }
  }
  &.date-picker-container-single-time {
    > .calender-wrap {
      width: 513px;
      .react-datepicker__header--time {
        display: none;
      }
      .react-datepicker__time-container {
        display: none;
      }
      .time-container {
        width: 224px;
        .time-wrap {
          gap: 8px;
          align-items: center;
          margin-top: 58px;
          .time-box {
            flex-direction: column;
            gap: 8px;
            .btn-box {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 101px;
              height: 22px;
              border: 1px solid #d1d4d6;
              cursor: pointer;
              background: #fff;
              border-radius: 4px;
            }
          }
          input {
            border-radius: 8px;
            width: 101px;
            height: 48px;
            background: #f5f6f7;
            color: #eaedf0;
            border: 1px solid #eaedf0;
            line-height: 46px;
          }
        }
      }
    }
  }
}
/* //date picker */

/* upload */
.upload-container {
  width: 448px;
  > div {
    display: none;
    &.img-box {
      display: block;
      .img- {
        display: none;
      }
      .img-preview {
        display: none;
      }
      .img-file {
        display: block;
      }
    }
  }
  &.hwp {
    .img-box {
      .img-file {
        display: none;
      }
      .img-hwp {
        display: block;
      }
    }
  }
  &.docx {
    .img-box {
      .img-file {
        display: none;
      }
      .img-docx {
        display: block;
      }
    }
  }
  &.pdf {
    .img-box {
      .img-file {
        display: none;
      }
      .img-pdf {
        display: block;
      }
    }
  }

  &.default {
    height: 120px;
    background: #f5f6f7;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 1px dashed #d1d4d6;
    .text-box {
      color: #757779;
      display: block;
      > div {
        span {
          color: #574aff;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &.normal {
      .normal-box {
        display: block;
      }
      .technology-box {
        display: none;
      }
    }
    &.technology {
      .normal-box {
        display: none;
      }
      .technology-box {
        display: block;
      }
    }
    .label-wrap {
      display: none;
    }
  }
  &.filled {
    height: 120px;
    background: #f5f6f7;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 1px dashed #f04438;
    .text-box {
      color: #757779;
      display: block;
      > div {
        span {
          color: #574aff;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &.normal {
      .normal-box {
        display: block;
      }
      .technology-box {
        display: none;
      }
    }
    &.technology {
      .normal-box {
        display: none;
      }
      .technology-box {
        display: block;
      }
    }
    .label-wrap {
      display: none;
    }
  }

  &.proceeding {
    height: 120px;
    background: #f5f6f7;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 1px dashed #d1d4d6;
    .proceeding-box {
      display: block;
      width: 340px;
      .title-line {
        align-items: center;
        justify-content: space-between;
        svg {
          cursor: pointer;
        }
      }
      .proceeding-line {
        margin: 8px auto;
        width: 100%;
        height: 4px;
        overflow: hidden;
        position: relative;
        background: #eaedf0;
        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 20%;
          height: 100%;
          border-radius: 8px;
          background: #574aff;
        }
      }
      .sub-text-line {
        justify-content: space-between;
        align-items: center;
        color: #464749;
        .situation {
          color: #574aff;
        }
      }
    }
    .label-wrap {
      display: none;
    }
  }
  &.done {
    height: 92px;
    background: #fff;
    display: flex;
    padding: 16px;
    gap: 16px;
    align-items: center;
    border: 1px solid #d1d4d6;
    .done-box {
      display: block;
      width: 100%;
      > div {
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .text-wrap {
          p {
            color: #5d6169;
            span {
              display: inline-block;
              margin: 0 3px;
              color: #b3b6b8;
            }
          }
        }
      }
      svg {
        cursor: pointer;
      }
    }
    &.technology {
      .img-file {
        display: none;
      }
      .done-technology-text-box {
        display: flex;
      }
    }
    &.normal {
      .label-wrap {
        display: none;
      }
      .done-normal-text-box {
        display: flex;
      }
    }
    &.preview {
      .img-preview {
        display: block;
      }
      .img- {
        display: none;
      }
      .label-wrap {
        display: none;
      }
      .done-preview-text-box {
        display: flex;
        > .flex_ {
          align-items: center;
          gap: 16px;
          .btn_ {
            width: 66px;
            height: 36px;
            svg {
              display: none;
            }
          }
        }
      }
    }
    .label-wrap {
      width: max-content;
    }
  }
}
/* //upload */

/* table */
.table-container {
  .table-cell-container:nth-child(2n) {
    background: #fff;
  }
}
.table-cell-container {
  align-items: center;
  width: 916px;
  height: 48px;
  background: #f5f6f7;
  > div {
    display: flex;
    align-items: center;
  }
  .choice-cell {
    width: 44px;
    justify-content: center;
    > span {
      display: none;
    }
    &.number {
      > span {
        display: inline-block;
      }
      input {
        display: none;
      }
    }
    input {
      width: 13px;
      height: 13px;
      border: 1px solid #d1d4d6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &[type="checkbox"]:checked {
        background: #574aff;
        border: 1px solid #574aff;
      }
      &[type="checkbox"]::after {
        border: solid #fff;
        border-width: 0 2px 2px 0;
        content: "";
        display: none;
        height: 40%;
        left: 40%;
        position: relative;
        top: 20%;
        transform: rotate(45deg);
        width: 15%;
      }
      &[type="checkbox"]:checked::after {
        display: block;
      }
    }
  }
  .category-cell {
    width: 60px;
    justify-content: center;
  }
  .title-cell {
    width: 472px;
    justify-content: start;
    padding: 0 16px;
    cursor: pointer;
  }
  .writer-cell {
    width: 160px;
    justify-content: center;
  }
  .date-cell {
    justify-content: center;
    width: 120px;
  }
  .etc-cell {
    width: 60px;
    justify-content: center;
  }
  .btn_ {
    svg {
      display: none;
    }
  }
}

.table-head-container {
  width: 916px;
  height: 20px;
  margin-bottom: 8px;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
  }
  .choice-cell {
    width: 44px;
    justify-content: center;
    input {
      width: 13px;
      height: 13px;
      border: 1px solid #d1d4d6;
    }
  }
  .category-cell {
    width: 60px;
    justify-content: center;
  }
  .title-cell {
    width: 472px;
    justify-content: start;
    padding: 0 16px;
  }
  .writer-cell {
    width: 160px;
    justify-content: center;
  }
  .date-cell {
    justify-content: center;
    width: 120px;
  }
  .etc-cell {
    width: 60px;
    justify-content: center;
  }
}
.table-horizontal-container {
  width: 916px;
  border: 1px solid #eaedf0;
  overflow: hidden;
  .label-wrap + .label-wrap {
    margin-left: 12px;
  }
  tr + tr {
    td,
    th {
      border-top: 1px solid #eaedf0;
    }
  }
  .thead {
    text-align: center;
    vertical-align: middle;
    background: #f5f6f7;
    color: #757779;
  }
  .tbody {
    padding: 12px 16px;
    .data-wrap {
      border-radius: 8px;
      border: 1px solid #d1d4d6;
      padding: 16px;
      gap: 16px;
      align-items: center;
      .text-wrap {
        align-items: start;
        flex-direction: column;
        justify-content: start;
        p {
          color: #5d6169;
          span {
            display: inline-block;
            margin: 0 3px;
            color: #b3b6b8;
          }
        }
      }
    }
  }
}

/* //table */
