/* 페이지 스타일 */
.wrap{
	margin-left:246px;
}
/* 사이트 관리 */
.setting-contents{
	width:100%;
	height:auto;
	padding-top:60px;
	padding-left:120px;
	padding-bottom:62px;
	padding-right:141px;
}
/* //사이트 관리 */