// resize style scss

/* 1200px */
.setting-contents .button-input.email-input-wrap .btn_{width:48px;}
.setting-contents .button-input.email-input-wrap .text-fields-wrap{width:calc(100% - 60px);}

.setting-contents .button-input.domain-input-wrap .btn_{width:105px;}
.setting-contents .button-input.domain-input-wrap .text-fields-wrap{width:calc(100% - 117px);}

.contents- .button-input .text-fields-wrap{width:calc(100% - 60px);}
.contents- .sub-page-0 .button-input + .button-input .text-fields-wrap{width:calc(100% - 120px);}

@media screen and (max-width:1370px){
	.home-container .content-container{width:768px;}
	.home-container .content-container .box_.box-05 > div{width:48%;}
	.setting-contents{width:768px;}

	.contents-{width:768px;}
	.table-head-container,.table-cell-container{width:100%;}
	.board-{width:768px;}
	.table-cell-container .title-cell{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	
  .table-horizontal-container{width:100%;}
  .contents-.contents-technology-retouch .right-flex > div .date-picker-container input{width:167px;}

	.member-{width:768px;}

	.contents-.contents-event .table-cell-container .title-cell{width:300px;}
	.contents-.content-support-list-detail .table-container .title-cell{width:300px;}

	.contents-.contents-event-writer .date-flex > div .date-picker-container input{width:160px;}
	.contents-.contents-event-writer .date-flex > div .date-picker-container input{text-align: center;}

	.researcher-contents{width:768px;}
	.researcher-contents .table-container .writer-cell{width:100px;}
	.researcher-contents .table-container .position-cell{width:80px; justify-content: center;}

	.transaction-container{width:768px;}
	
	.board-.board-list .table-container .note-cell{width:65px;}

	.design-{width:768px;}
	.design- .content-2 .skin-box > div .skin-wrap{width:230px; height:300px;}
	.design- .content-2 .skin-box > div .skin-wrap img{width:100%;}

	.marketing-contents{width:768px;}
	.marketing-contents.news-writer-c .table-cell-container .date-cell{text-align: center;}

	.inquiry-{width:768px;}

	.mypage-contents{width:768px;}

	.mypage-contents.mypage-payment .rate-plan-list{flex-wrap: wrap; gap:30px;}
	.mypage-contents.mypage-payment .rate-plan-list > li{width:48%;}

	.summing-container .content-wrap{width:768px;}
}
/* //1200px */

/* 1080px */
@media screen and (max-width:1080px){
	.header-{
		.pc-header{display:none;}
		.m-header{display:flex;}
	}
	.header-container{border-bottom:none;}
	.page-wrap{margin-left:0;}
	.sidebar-wrap{transition:all 0.5s; height:calc(100% - 60px); width:360px;}
	.sidebar-wrap.hide-menu{transform: translateX(-100%);}
	.sidebar-wrap.show-menu{transform: translateX(0%);}
	.sidebar-wrap .m-sidebar-wrap{display:block;}
	.sidebar-wrap .m-logout-btn{display:block;}
}
/* //1080px */

/* 800px */
@media screen and (max-width:800px){
	.sidebar-wrap{width:100%;}

	.home-container .content-container{width:90%;}
	.home-container .content-container .head-wrap{flex-direction: row-reverse; justify-content: space-between; color:#fff;}
	.m-content-top-wrap{position:relative;}
	.m-content-top-wrap::before{content:''; position:absolute; top:60px; left:50%; z-index:1; transform:translate(-50%,-50%); width:100vw; height:360px; background:url('/images/m-home-wrap-bg.png') no-repeat center; background-size: cover;}
	.m-content-top-wrap > div{position: relative; z-index: 2;}
	.home-container .content-container .box_{margin-bottom:24px;}
	.home-container .content-container .box_.box-02{position:relative; z-index: 2; box-shadow: 0px 0px 4px 0px rgba(87, 74, 255, 0.05), 0px 0px 10px 0px rgba(87, 74, 255, 0.07);}
	
	.home-container .content-container .box_.box-01.flex_{background:none; flex-direction: column; gap:32px; margin-top:6px; padding:0; height:auto; margin-bottom:12px;}
	.home-container .content-container .m-content-top-wrap + .box-title{display:none;}
	.home-container .content-container .box_.box-01.flex_ .flex_ p{color:#fff;}
	.home-container .content-container .box_.box-01.flex_ .flex_:nth-child(2){justify-content: space-between; padding:12px 12px 12px 20px; border-radius: 12px; background:rgba(255,255,255,0.5);}
	.home-container .content-container .box_.box-01.flex_ .flex_:nth-child(2) p{color:#574AFF;}
	
	.home-container .content-container .box_.box-03{flex-wrap: wrap; gap:12px; background:none; overflow: initial;}
	.home-container .content-container .box_.box-03 > div{padding:12px 16px; box-shadow: 0px 0px 4px 0px rgba(87, 74, 255, 0.05), 0px 0px 10px 0px rgba(87, 74, 255, 0.07); width:calc(50% - 6px); background:#fff; border-radius: 12px; border:none !important;}
	.home-container .content-container .box_.box-03 > div:first-child{width: 100%;}
	.home-container .content-container .box-title span{color:#574AFF;}

	.home-container .content-container .box_.box-04 .flex_ + .flex_ .top-count{border:none;}
	.home-container .content-container .box_.box-04 .flex_ .top-count{color:#757779; line-height:18px; background:#FBFBFB; padding:12px; height:42px;}
	.home-container .content-container .box_.box-04{border-radius: 12px; box-shadow: 0px 0px 4px 0px rgba(87, 74, 255, 0.05), 0px 0px 10px 0px rgba(87, 74, 255, 0.07);}
	.home-container .content-container .box_.box-04 .flex_ .bottom-count{padding:12px 0; height:52px; line-height: 28px;}
	.home-container .content-container .box_.box-04 .flex_ + .flex_ .bottom-count{border:none;}

	.home-container .content-container .box_.box-05 > div{border-radius: 12px; min-height:256px; height:auto; padding-bottom:16px;}
	.home-container .content-container .box_.box-05 > div > .title-wrap{height: 48px; padding:0 16px; margin-bottom:16px;}
	.home-container .content-container .box_.box-05 > div .content_ > div{height: 38px;}
	
	.setting-contents{width:90%;}
	.tab-container > .flex_{width:max-content; min-width: 100%;}
	.tab-container.tab-scrollable .tab-item{width:90px;}

	.setting-contents .sample-btn-true .textarea-fildes-wrap{padding-bottom:48px;}
	.setting-contents.setting-terms .sub-page .btn_{top: 290px;}
	.setting-contents .button-wrap{justify-content: space-between;}
	.setting-contents .button-wrap .btn_{width:100%;}
	.setting-contents .button-input.email-input-wrap .btn_{width:48px;}
	.setting-contents .button-input.email-input-wrap .text-fields-wrap{width:calc(100% - 60px);}
	.setting-contents.setting-domain .sub-page-0 .moreButton{text-align: left !important;}

	.contents-{width:90%; padding-top:0;}
	.contents- .button-wrap{justify-content: space-between;}
	.contents- .button-wrap .btn_{width:100%;}
	.contents- > h1{display: none;}

	.contents-technology > .transaction-01{}
}
/* //800px */